:root{
    --color-text-light: #94999d;
    --color-text-dark: #414b51;
    --color-heading-light: #3f494f; 
    --color-heading-dark: #232e35;
    --color-secondary-dark: #7e74f1; 
    --color-secondary-light: #9b93f4;
    --color-bg-1: #ffffff;
    --color-bg-2: #fbfbfb;
    --bg-card: #eae6fe;
    --color-icons: #551a8b;
    --box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.7);
    --box-shadow-light: 0px 0px 2px rgba(0,0,0,0.2);
    --transition: all 0.3s ease;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h4, h5, h6{
    font-family: sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    border-bottom: 2px solid var(--color-secondary-light);
    padding-bottom: 2px;
    transition: var(--transition);
}

/* ----------------Start Header Container-------------------- */
.top-header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: var(--color-text-dark);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0px;
    margin-top: 20px;
    font-family: sans-serif;
    overflow: auto;
    z-index: 1000;
}
.top-header-container .logo-container div{
    display: flex;
    position: relative;
    height: 90px;
    width: 150px;
}
.top-header-container .logo-container div img{
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin: 4px auto;
    position: absolute;
    bottom: 0;
    left: 0;
}
.top-header-container .logo-container div .name{
    display: block;
    position: absolute;
    bottom: 0;
    left: 70px;
    color: var(--color-heading-dark);
    font-weight: 800;
}
.top-header-container .logo-container .name .cap{
    font-size: 35px;
}
.top-header-container .nav-bar-list{
    display: flex;
    justify-content: space-between;
    width: calc(1200px - 700px);
    padding: 10px;
    overflow: auto;
}
.top-header-container .nav-bar-list span a{
    color: var(--color-text-dark);
    font-size: 17px;
}
.top-header-container .nav-bar-list span a:hover{
    color: var(--color-secondary-dark);
}
.top-header-container .resume-download-btn button{
    background-color: var(--color-bg-1);
    color: var(--color-text-dark);
    border: none;
    box-shadow: var(--box-shadow-light);
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

/* ----------------Start Main Content Container-------------------- */
.main-content-container{
    margin: 10px;
    padding: 2px;
    border-radius: 8px;
    height: 100vh;
    overflow: auto;
}
.main-content-container .about-page{
    display: grid;
    grid-template-columns: 5fr 7fr;
    border-radius: 4px;
    height: calc(100vh - 20vh);
}
.main-content-container .about-page .about-column-1{
    display: flex;
    flex-direction: column;
    justify-content:center;

}
.main-content-container .about-page .about-column-1 .salutation .span-1{
    display: inline-block;
    border: 1px solid var(--color-text-light);
    width: 30px;
    margin-right: 10px;
    margin-bottom: 3px;
    font-weight: 800;
}
.main-content-container .about-page .about-column-1 .salutation{
    letter-spacing: 2px;
    color: var(--color-text-light);
    font-size: 16px;
}
.main-content-container .about-page .about-column-1 .fullName{
    font-family: serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--color-heading-dark);
    line-height: 55px;
    padding: 30px;
}
.main-content-container .about-page .about-column-1 .fullName span{
    color: var(--color-secondary-dark);
    letter-spacing: 4px;
    margin-left: 22px;
}
.main-content-container .about-page .about-column-1 .description {
    color: var(--color-text-light);
    line-height: 30px;
    font-family: serif;
    text-align: center;
    font-size: 22px;
}
.main-content-container .about-page .about-column-1 .social-media{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    font-size: 25px;
}
.main-content-container .about-page .about-column-1 .social-media .bi{
    color: var(--color-icons);
}
.main-content-container .about-page .about-column-1 .social-media .bi:hover{
    color: var(--color-text-dark);
}
.main-content-container .about-page .about-column-2{
    margin-left: 2px;
    position: relative;
    height: calc(100vh - 22vh);
}
.main-content-container .about-page .about-column-2 .card-1,
.main-content-container .about-page .about-column-2 .card-2{
    width: 300px;
    height: 400px;
    margin: 50px auto;
    border-radius: 8px;
    position: absolute;
    left: 25%;
}
.main-content-container .about-page .about-column-2 .card-1{
    background-color: var(--color-secondary-dark);
    transform: rotate(-10deg);
    z-index: 0;
}
.main-content-container .about-page .about-column-2 .card-2{
    background: url(../../public/images/crp.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.main-content-container .about-page .about-column-2 .card-1:hover{
    transform: rotate(-7deg);
    transition: 300ms;
}


/* ================START OF MEDIA QUERIES========== */

@media screen and (orientation: portrait) {
    .main-content-container .about-page{
        grid-template-columns: 12fr;   
        align-items: center;
    }
.main-content-container .about-page .about-column-1 .fullName{
    font-size: 25px;
}
.main-content-container .about-page .about-column-2 .card-1,
.main-content-container .about-page .about-column-2 .card-2{
    margin: 25px auto;
    width: 250px;
    height: 300px;
    left: 6%; 
}
.main-content-container .about-page .about-column-2 .card-1{
    transform: rotate(-5deg);
}

}

@media screen and (orientation: landscape) {}
/* ================Media Queries End========== */